#header {
    height: 100%
}
#header-title, #header-inner {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#header-title {
    animation-name: title-scale;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
}

@keyframes title-scale {
    from {
        transform: scale(.666, .666);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

#header-inner {
    animation-name: header-translateY;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes header-translateY {
    from {
        transform: translateY(-20px)
    }
    to {
        transform: translateY(0)
    }
}