#comments
  @extend $block
  background: #fff
  padding: article-padding
  margin: block-margin 0
  position: relative
  &:after
    content: ""
    bottom: 0
    right: 0
    position: absolute
    border-bottom: 25px solid color-background
    border-left: 32px solid transparent
  a
    color: color-link